.env
/models
/uploads
.conda
__pycache__                                                                                                                                                                                                                                      